.slider {
  width: 100%;
  max-width: 400px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.slide {
  width: 100%;
  max-width: 400px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.btn {
  background-color: white;

  position: absolute;
  top: 45%;

  &.btn-next {
    right: 2%;
  }
  &.btn-prev {
    left: 2%;
  }
}
