:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-family-secondary: "Inria Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: inherit;
}

// a:hover {
//   color: #535bf2;
// }

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

section,
footer {
  padding: 0 2rem;
}

p {
  margin: 0 0 1rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: opacity 0.25s;
  &:hover {
    opacity: 0.75;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  a {
    margin-right: 1rem;
    font-size: 1.1rem;
    font-family: "Inria Sans", sans-serif;
  }

  a:hover {
    opacity: 0.75;
  }
}

// section classes
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    margin: 6rem 0 3.5rem 0;
  }
}

#articles {
  li {
    border-bottom: 1px solid black;
    padding: 1.5rem 0;
    &:first-child {
      padding-top: 0;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

footer {
  background: #f4f4f4;
  margin-top: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// section elements clases
.section__title {
  font-family: "Inria Sans", sans-serif;
  display: inline-block;
  border-bottom: 5px black solid;
  margin-bottom: 2.5rem;
}

.hero__logo {
  margin: 0;
  line-height: 0.8;
  font-size: 7rem;
}

.hero__logo__subtitle {
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

.footer__logo {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 0.8;
}

.card {
  padding: 2em;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  li {
    line-height: 1.75rem;
  }
}

.font-secondary {
  font-family: var(--font-family-secondary);
}

.wa-btn {
  border-radius: 100px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  a {
    color: white;
  }
  &--reverse {
    background-color: transparent;
    box-shadow: none;
    border: 1px black solid;
    a,
    i {
      color: black;
    }
  }
}

@media (max-width: 800px) {
  .flex-container:not(.keep-direction) {
    flex-direction: column;
  }
  .gap-h--small {
    * {
      margin-right: 0;
    }
  }

  .grid {
    grid-template-columns: 1fr;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    a {
      margin-right: 0.2rem;
    }
    p {
      text-align: center;
    }
  }

  #hero {
    align-items: start;
    nav {
      margin: 3.5rem 0;
    }
  }

  .hero__logo {
    font-size: 4.5rem;
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: black;
//     background-color: #ffffff;
//   }
//   a {
//     color: black;
//   }
//   // a:hover {
//   //   color: #747bff;
//   // }
//   // button {
//   //   background-color: #f9f9f9;
//   // }
// }
